<!DOCTYPE html>
<html>
<head>
  <title>AI Voice Sentiment Pro</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="default">
<canvas id="particles"></canvas>
<canvas id="wave"></canvas>

<div class="container">
  <h1>🎤 Voice Sentiment AI</h1>

  <button id="micBtn">🎙️ Start Talking</button>
  <p id="status"></p>

  <h2 id="main"></h2>
  <p id="message"></p>
  <p id="text"></p>

  <canvas id="chart"></canvas>

  <div id="history"></div>
</div>
<div id="cursor"></div>
<script src="/static/script.js"></script>
</body>
</html>